  /*Sections of Members list borders and colors with a twist and better looking */
  .theme-dark .membersGroup-v9BXpm .content-1x5b-n{
    color: rgb(253, 14, 181);
    border: 1px solid rgb(235, 9, 133);
    border-color: rgb(238, 8, 219);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 35px;
    text-align: center;
    padding:08px;
  }
  .layout-2DM8Md:hover {
    background-color: rgba(250, 3, 168, 0.5);
    border: 1px solid #b106f588;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 35px;
    padding-bottom 4px;
    height: 35px;
  }
  .layout-2DM8Md {
    background-color: rgba(238, 14, 163, 0.164);
    border: 1px solid #b106f53f;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 35px;
    padding-bottom 4px;
    height: 35px;  
  }

/* channels borders volume 2 */
 .selected-3LIHYU .content-1x5b-n, .containerDefault--pIXnN  .content-1x5b-n{
    background-color: rgba(238, 14, 163, 0.24);
    border: 1px solid #b106f577;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 35px;
    padding-bottom 4px;
    height: 30px;
    
  }.containerDefault--pIXnN:hover{
    background-color: rgb(248, 143, 213);
    border: 1px solid #b106f5a9;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-bottom 4px;
    height: 30px;

}
/* Plugin TOPROLEEVERYWHERE ON  if want roles on members side remove this*/
:not(.chatTag-Y-5TDc).role-2irmRk{
      display: none;
  }