/** 
 * @name Lambo-Tron
 * @author Shiz
 * @version ersion auto updates
 * @description Lambo Tron Edition theme created by Shiz using NFLD99's template.    |   Github: https://git.io/v7ovg    |   Support Server: https://nfld99.com/discord    |   Website: https://www.nfld99.com
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
*/

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Guild List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Guilds/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
 
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);

:root {
    --Main-Colour: rgb(15, 215, 241);
    --Background-Colour: rgba(0,0,0,1);
    --Secondary-Background-Colour: rgba(0,0,0,.3);
    --Secondary-Main-Colour: rgb(18, 215, 241);
    --Text-Shadow-Colour: rgba(0,0,0,.65);
    --Scroller-Colour: rgba(7, 11, 252, 0);
    --Notification-Colour: rgb(28, 216, 241);
    --Chat-Input-Background: rgba(34, 179, 236, 0.192);
    --Chat-Input-Colour: var(--Main-Colour) ;
    --Unread-Message-1: var(--Main-Colour) ;
    --Unread-Message-2: var(--Background-Colour) ;
    --Chat-Background: url(https://i.imgur.com/6naJBZa.jpg);
    --Settings-Background: url(https://i.imgur.com/eztFmtC.png?1);
    --Callout-Background: url(https://i.imgur.com/eztFmtC.png?1);
    --Title-Background: var(--Background-Colour);
    --Theme-Variant: "Lambo Tron Edition";
    --Chat-Font-Used: 'Asap Condensed', sans-serif;
    --Chat-Font-Size: 17px;
    --Unread-Message-Speed: 1.5s;
    --Popout-Main-Colour: var(--Main-Colour);
    --Popout-Background: url(https://i.imgur.com/eztFmtC.png?1);
    --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
    --Emote-Popout-Background:url(https://i.imgur.com/iCbfEwd.jpg);
    --File-Updated-2019-7-23: ;
    --Settings-Dock-Colour: var(--Main-Colour);
    --Timestamp-Colour: var(--Secondary-Main-Colour);
    --Guild-Columns: 1;
    --ServerFolders-Guild-Columns: var(--Guild-Columns);
    --Chat-Avatar-Border-Radius: 45%;
    --Background-Darkness: 0.2;
  }
 /* Change Avatar Size(also moves username for you) */
 .member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA { 
  border: solid var(--Main-Colour);
  border: solid 1px;
}
.member-3W1lQa .avatarWrapper-3B0ndJ {
width: 35px!important;
height: 35px!important;
}
  /* Removing the bottom border in member list*/
.member-3W1lQa {border-bottom: none;
}
/* disabling divider */
.theme-dark .dividerEnabled-2TTlcf {
	border: none;
}

/* disabling margin between messages */
.message-1PNnaP {
    margin-bottom: 0em;
}
 /* Home Button*/
 a.button-OhfaWu.wrapper-1BJsBx{
  background: url(https://i.imgur.com/oVsAL2X.png) 50% 50%/cover;
 }
 
 .homeIcon-tEMBK1{
  display: none;
 }
  /* Rainbow Message Box*/
  .theme-dark .inner-zqa7da:focus-within {animation: CLog 2s infinite linear }
} 
 
.wrapper-232cHJ) {
  text-shadow: 0 0 1px var(--Text-Shadow-Colour)
}

.icon-sxakjD { opacity: .9;
}

.buttons-205you .buttonWrapper-1ZmCpA[tabindex="2"] {/*NITRO GIFT*/
  display: none !important;
}
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="3"] {/*GIF*/
  display: none !important;
}


.theme-dark .scrollbar-3dvm_9 {
  background-color: rgba(3, 104, 122, 0.479) !important;
 }
 
