/**
 * @name Relaxation
 * @description Support Server: https://nfld99.com/discord
 * @author Shiz 
 * @version ersion auto updates
 * @source https://nfld99.com/shiz.html
 * @website https://nfld99.com/
*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Guilds/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);
/* Use Chat Bubbles By Shiz */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Chat_Bubbles/No.css);
  :root{
	--Background-Colour: #000000;
	--Chat-Input-Background: rgba(39, 217, 248, 0);
	--Chat-Input-Colour: #78cdf5;
	--Secondary-Main-Colour: rgba(11, 159, 218, 0.986);
	--Main-Colour: #11ddf8;
	--Notification-Colour: #0848f8;
	--Popout-Main-Colour: #13f5d7;
	--Popout-Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Secondary-Background-Colour: rgba(0, 0, 0, 0.3);
	--Scroller-Colour: rgba(13, 47, 240, 0);
	--Settings-Dock-Colour: #0a34f1;
	--Text-Shadow-Colour: rgba(0, 0, 0, 0.4);
	--Timestamp-Colour: rgba(139, 219, 233, 0.938);
	--Unread-Message-1: #17cefc;
	--Unread-Message-2: #4b0ef1;
	--Chat-Background: url(https://i.imgur.com/xx2L8bN.jpg);
	--Settings-Background: url(https://i.imgur.com/IBTtpDx.jpg);
	--Callout-Background: url(https://i.imgur.com/6RiPALC.jpg) ;
	--Title-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Popout-Background: url(https://i.imgur.com/Yg7lnMT.jpg);
	--Emote-Popout-Background: url(https://nfld99.com/images/Dark-Wood-https://i.imgur.com/xx2L8bN.jpg);
	--Theme-Variant: "Relaxation";
	--Chat-Font-Used: 'Doppio One', sans-serif;
	--File-Updated-2019-7-23: ;
	--Guild-Columns: 1;
	--ServerFolders-Guild-Columns: 1;
	--Unread-Message-Speed: 1.5s;
	--Chat-Font-Size: 15px;
	--Chat-Avatar-Border-Radius: 3px;
	--Background-Darkness: 0.1
}
 /* Change Avatar Size(also moves username for you) */
 .member-3W1lQa .avatarWrapper-3B0ndJ {
    width: 35px!important;
    height: 35px!important;
  }
  .containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA { 
    border: solid var(--Main-Colour);
    border: solid 1px;
  }
.member-3W1lQa .avatarWrapper-3B0ndJ {
  width: 35px!important;
  height: 35px!important;
}
/* Home Icon*/
a.button-OhfaWu.wrapper-1BJsBx{
	background: url(https://i.imgur.com/oVsAL2X.png) 50% 50%/cover;
   }
   
   .homeIcon-tEMBK1{
	display: none;
   }
/* Removing Nitro button*/
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="2"] {/*NITRO GIFT*/
	display: none !important;
  }
  /*Channels and Sections  borders*/
  .containerDefault-3GGEv_,.ContainerDefult-1ZnADq {
	border: 1px var(--Secondary-Main-Colour) solid;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all 200ms;
  }
  .contentSelectedText-3wUhMi, .content-3at_AU, .contentSelectedVoice-1WDIBM, .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--main-colour);
    border: 2px solid silver;
    border-bottom: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-width: 2.5px;
}
.channel-2QD9_O.selected-1HYmZZ a {
  border: 0px;
}
/*Code box*/

.theme-dark .scrollbar-3dvm_9 {
	background-color: rgba(9, 195, 252, 0.171) !important;
   }
   



